.cursor{
    cursor: pointer;
}
.all-container{
    background: #f4f5f5;
    padding-bottom: 30px;
    min-height: calc(100vh - 30px)
}
.blog-wrapper{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}
.blog-container{
   position: relative;
   margin: 0 auto;
   width: 100%;
   max-width: 960px;
   display: flex
}

/* Style the links inside the navigation bar */
.blog-topnav-wrapper{

    position: relative;
    height: 5rem;
    z-index: 1501;
}
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s;
    background: #fff;
  
    color: #909090;
    height: 61px;
    z-index: 250;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(26,26,26,.1)
}
.no-header{
    height: 0px;
}

.blog-content{
    width: 800px;
    margin: auto;
    background: #ffffff;
    min-height: 70vh;
    margin-top: 10px;
    box-shadow: 0 2px 8px #d8d8d8;
}
.blog-content-title{
    font-size: 18px;
    color: #1890ff;
    padding-top: 5px;
    padding-left: 20px;
    position: relative;
   
}
.blog-content-title::before{
    content: '';
    width:4px;
    height: 100%;
    background:#1890ff;
    position: absolute;
    top: 0;
    left: 0;
  
}

.blog-list{
    flex: 1 1 auto;
    width: 700px;

}
.blog-list-container{
    background: #ffffff;
    min-height: 700px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.blog-comment-container{
    background: #ffffff;
}
.blog-list-container .list-header{
    font-size: 15px;
    height: 58px;
    /* padding: 10px 0 10px 24px; */
    position: relative;
    display: flex;
    border-bottom: 1px solid hsla(0,0%,59.2%,.1);
}
.link-tab{
    align-items: center;
    -webkit-box-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    margin: 0 22px;
    cursor: pointer;
}
.link-tab.active{
    color: #0084ff;
    font-weight: 500;

}
.link-tab.title{
    font-size: 20px;
    font-weight: bold
}
.list-wrapper{
    list-style: none;
    padding: 0;
    margin: 0
}
.list-wrapper .list-item{
    border-bottom: 1px solid rgba(178,186,194,.15);

}
.list-wrapper .list-item:hover{
    background: #FCFCFC
}
.list-item .blog-box{
    display: flex;
    align-items: center;
    padding: 18px 24px;
}
.list-item .blog-box .info-box{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
}
.info-box .info-row-meta{
    font-size: 12px;
    color: #b2bac2;
}
.info-box .info-row-title{
    margin: 8px 0 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16.8px;
    font-weight: 600;
    line-height: 1.2;
    color: #2e3135;
}
.info-box .info-row-title:hover{
    cursor: pointer;
    text-decoration:underline
}
.info-box .info-row-action{
    font-size: 12px
}
.info-box .info-row-action span{
    padding-right:14px;
    color: #b2bac2;
}
.list-item .blog-box .img-box{
    flex: 0 0 auto;
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
    border-radius: 2px;
}
.list-item .blog-box .img-box img{
    width: 100%;
    height: 100%;
}

.blog-aside{
    flex: 0 0 auto;
    width: 280px;
    margin-left: 20px
}
.aside-list{
    position: fixed;
    width: 280px;
    top: 80px;
    transition: all 0.4s
}
.aside-item{
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    background: #ffffff;
    margin-bottom: 30px
}
.comment-item{
    display: flex
}
.comment-item .item-avatar{
    flex: 0 0 auto;
}
.comment-item .item-info{
    margin-left: .833rem;
    flex: 1 1 auto;
}

.comment-title{
    text-align: center;
    color: #8a9aa9;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 
}
.comment-form{
    display: flex;
    padding:10px 5px;
    width: 90%;
    margin: 0 auto;
    background: #fafbfc
}
.form-avatar{
    flex: 0 0 60px;
    width: 60px;
}
.avatar-box{
    margin: auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background:url('https://user-gold-cdn.xitu.io/2018/12/24/167ddbb478b0a47f?imageView2/1/w/180/h/180/q/85/format/webp/interlace/1');
    background-size: 100% 100%
}
.form-input{
    flex: 1;
}
.form-input input{
    width: 90%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    padding: 0 10px;
    outline:none
}
.comment-list{
    margin: 10px 40px 0 80px
}
.item-info{
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #f1f1f1;
}
.item-info-name{
    color: #333;
    display: inline;
    font-size: 14px;
    line-height: 1.2
}
.item-info-name a{
    font-weight: bold;
}
.item-info-text{
    color: #505050;
    font-size: 14px;
}
.comment-item:last-child .item-info{
    border-bottom:none
}